<!DOCTYPE html>
<html>
  <head>
    <title>Sharindata - {% block title %}Home{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="/css/shCoreRDark.css"/>
    
    <link href="{{ asset("bundles/kkuetnetsharindata/css/theme.css") }}" rel="stylesheet" media="screen">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path("_welcome") }}">Sharindata</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if not app.user %}
                    <li><a href="{{ path("fos_user_registration_register") }}">{% trans %}Register{% endtrans %}</a></li>
                    <li><a href="{{ path("fos_user_security_login") }}">{% trans %}Sign In{% endtrans %}</a></li>
                {% else %}
                    <li><a href="{{ path("fos_user_profile_show") }}">{{ app.user.email}}</a></li>
                    <li><a href="{{ path("fos_user_security_logout") }}">{% trans %}Logout{% endtrans %}</a></li>
                {% endif %}
                <li><a href="{{ path("nelmio_api_doc_index") }}">{% trans %}Documentation{% endtrans %}</a></li>
            </ul>
          {% block loginform %}{% endblock %}
        </div>
      </div>
    </div>
        {% block alert %}{% endblock %}
        {% block jumbotron %}{% endblock %}
        <div class="container marketing">
            {% block body %}{% endblock %}
            <hr>
            <footer>
              <p>©Sharindata 2013</p>
            </footer>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/shCore.js"></script>
    <script type="text/javascript" src="/js/shBrushBash.js"></script>
    <script type="text/javascript" src="/js/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/shBrushPhp.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.defaults['gutter'] = false;
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20778728-7']);
        _gaq.push(['_setDomainName', 'sharindata.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% block javascripts %}{% endblock %}
  </body>
</html>