{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h2>Request</h2>
        <pre class="brush: php;">
            $response = \KkuetNet\SharindataClientApi\Vendor\SharindataClientApi::getInstance("your_login", "your_password");
            var_dump($response->getCurrencyCountries('EUR'));
        </pre>
        <h2>JSON Response</h2>
        <pre class="brush: js;">
            {{data1}}
        </pre>
        
        
        <div class="custom-liste col-lg-6">
            <h3>For Euros (EUR)</h3>
            <ul>
                {% for k, j in json_data1 %}
                    <li><img src="{{ j.flag }}"/> <b><i class="code">{{j.name}}</i></b> (&#9742; <i class="code">+{{ j.call_prefix }}</i>)</li>
                {% endfor %}
            </ul>
        </div>
        <div class="custom-liste col-lg-6">
            <h3>For Dollars (USD)</h3>
            <ul>
                {% for k, j in json_data2 %}
                    <li><img src="{{ j.flag }}"/> <b><i class="code">{{j.name}}</i></b> (&#9742; <i class="code">+{{ j.call_prefix }}</i>)</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}